body {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 211, 136);
}

.title {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.cursor {
    height: 100vh;
    cursor: default;
}


.mainBox {
    width: 500px;
    height: 500px;
    display: grid;
    border: outset 4px rgb(129, 128, 35);

    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    /* gap: 5px; */
}

.drawBox {
    display: flex;
    background-color: whitesmoke;
    border: 1px rgba(0, 0, 0, 0.09) solid;
    height: auto;
    width: auto;
}

.currentPenColor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    background: black;    
}

.content {
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
    gap: 10px;
}

/* #e5db7e */


.settingsColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blueviolet; */
    background-color:  rgb(226, 217, 117);
    padding: 18px;
    border: outset 3px rgb(129, 128, 35);
    /* border: solid black 18px; */
    width: 150px;
    gap: 5px;

}

.colorTracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightcoral; */
    background-color:  rgb(201, 190, 92);
    padding: 5px;
    width: 90px;
    border: outset 3px rgb(129, 128, 35);


}

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 4px; */
    /* background-color: yellow; */
    background-color:  rgb(201, 190, 92);
    width: 142px;
    border: outset 3px rgb(129, 128, 35);

}


.sliderBox {
    display: flex;
    justify-content: center;
    padding: 4px;

}

.slider {
    display: flex;
    justify-content: center;
}

.sliderValue {
    display: flex;
    justify-content: center;
    margin-top: -5px;

}



.contentButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: lightblue; */
    flex: 1;
}

.customColor {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(240, 64, 64); */
    background-color:  rgb(201, 190, 92);
    padding: 5px 5px 0px 5px;
    width: 80px;
    /* height: 50px; */
    border: outset 3px rgb(129, 128, 35);

}

.customValue {
    display: flex;
}

#colorInputColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    width: 94px;
    height: 50px;
    border: none;
    margin-top: -8px;
    margin-bottom: -6px;
    cursor: pointer;
}

#colorInputColor::-webkit-color-swatch {
    border-radius: 0px;
    border: inset 3px rgb(129, 128, 35);
    
}

#colorInputColor::-moz-color-swatch {
    border-radius: 0px;
    border: inset 3px rgb(129, 128, 35);
}

.customLabel {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 90px;

}

button {
    display: flex;
    justify-content: center;
    width: 96px;
    background-color:  rgb(201, 190, 92);
    border: outset 3px rgb(129, 128, 35);

    
}

/* .shadow {
    border: outset 3px rgb(129, 128, 35);
} */