body {
    background-color: rgb(219, 211, 136);
}

.cursor {
    margin: 0;
    height: 100vh;
    cursor: default;
}


.mainBox {
    width: 500px;
    height: 500px;
    display: grid;
    border: solid rgb(110, 88, 88) 4px;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    /* gap: 5px; */
}

.drawBox {
    display: flex;
    background-color: whitesmoke;
    border: 1px rgba(0, 0, 0, 0.09) solid;
    height: auto;
    width: auto;
}

.currentPenColor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    background: black;    
}